/* цвет основного текста #757575 */
/* цвет заголовков на темном фоне + logo  #FFFFFF */
/* цвет большинства заголовков #212121 */
/* ховер + Web + bgr кнопок  */

:root {
    --primary-text-color:#757575 ;
    --title: #212121;
    --accent-color:#2196F3;
    --contrast-color: #FFFFFF;
    --icon-color: #afb1b8;
    --icon-box-color: #F5F4FA;
}
body {
    background-color: var(--contrast-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
/* body{
background-image: url(/images/night\ sky.jpg);
background-repeat: no-repeat;
background-position: auto;
background-size: cover;
background-attachment: fixed;
} */
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* utilitis */
*{
    padding: 0px;
    margin: 0px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
    
}
.our{
    padding: 94px 0;
}

/* Лолотип */
.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.header-logo {
    color: #000000;
    text-decoration: none;
}
/* навигация */
.page-header{
    border-bottom: 1px solid #ececec;
}
.main-nav{
    display: flex;
    align-items: center;
}
.site_nav{
    display: flex;
    margin-left: 93px;
}
.nav-item+ .nav-item{
    margin-left: 50px;
}
.cont{
    margin-left: auto;
}

.site_nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title);
    text-decoration: none;
}

.site_nav .link.current {
    color: var(--accent-color);
}

.link-contact {
    display: inline-flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}

    .link-contact .icon{
    margin-right: 10px;
    fill: currentColor;
}

/* a svg :hover #mail,
a svg :focus #mail{
    fill: var(--accent-color);
} */
.cont .link-contact:focus,
.cont .link-contact:hover,
.site_nav .link:hover,
.site_nav .link:focus,
.link-contact:hover,
.link-contact:focus{
    color: var(--accent-color);
}

/* секции заголовки */
.section{
    margin-top: 94px;
}
.section_title{
    margin-bottom: 10px;

    font-style: normal;
    color: var(--title);
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features{
    width: calc((100% - 3 * 30px) / 4);
}

/* .features::before{
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border: 1px solid tomato;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.features:nth-child(1)::before{
    background-image: url(/images/antenna\ 1.svg);
}

.features:nth-child(2)::before {
    background-image: url(/images/clock\ 1.svg);
}

.features:nth-child(3)::before {
    background-image: url(/images/diagram\ 1.svg);
}

.features:nth-child(4)::before {
    background-image: url(/images/astronaut\ 1.svg);
} */





.section_title_class {
    margin-bottom: 50px;
    font-style: normal;
    color: var(--title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* .status{
    margin-bottom: 30px;
} */
/* Hero */
.hero{
    width: 1600px;
    height: 600px;

    background-color: #C4C4C4;          
    outline: 1px solid black;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url(/images/hero\ \(1\).jpg);
                
    
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    }
.hero_title{
    width: 696px;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* background-color: #2F303A; */
    color: #ffffff;
}

/* button */
.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    color: var(--contrast-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
}    
/* feature-list */
.feature-list{
    display: flex;
    justify-content: space-between;    
}

.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    /* border: 1px solid tomato; */
    background-color: var(--icon-box-color);
}
/* image */
.images{
    display: flex;
}
.no-gap{
    display: block;
}
.image+ .image{
    margin-left: 30px;
}
.image{
    background-color: var(--contrast-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-bottom{
    display: flex;
    
}
/* Our teams */

.section-team {
    margin-top: 94px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--icon-box-color);
    color: var(--title);
}

.team-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our_teams_title {

    margin-bottom: 10px;

    color: var(--title);
    font-weight: 500;

    font-size: 16px;
    line-height: 1.19;
}
.section-team .text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
}
.social-links{
    display: flex;
    justify-content: center;
    
    margin-top: 16px;

}
.social-link{
    display: flex;
    justify-content: center;
    width:  44px ;
    height: 44px ;
    /* border: 1px solid tomato; */
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
    
    color: var(--icon-color);
    fill: currentColor;
}
.link +.link{
    margin-left: 10px;
}

/*Constant clients*/


/* footer */
.footer{
    height: 252px;
    background-color: #2F303A;
}
.footer-logo{
    color: var(--contrast-color);
}
.foot{
    padding-top: 60px;
    padding-bottom: 60px;
}
.fo{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-address{
    color: var(--contrast-color);
    font-size: 14px;
    line-height: 1.71;
}
.footer-address > a{
    display: inline-block;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}


.footer-address>a:hover,
.footer-address>a:focus {
    color: var(--accent-color);
}






/* Portfolio */
.portfolio{
    display: block;
}
.portfolio .portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title);
}
.portfolio > p{
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}
.portfolio  img{
    display: block;
}
.portfolio-section{
    padding-top: 96px;
    padding-bottom: 94px;
}
.portfolio-button{
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    
    color: var(--title);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
}
.curent{
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button.curent,
.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
}
.filter-item+ .filter-item{
    margin-left: 8px;
}
.filter{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}
.portfolio-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-item {
    
    /* background-color: tomato; */
    width: calc((100% - 2 * 30px) / 3);
}

.card-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.text-decoration{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}    
.text-decoration>p { 

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;

    color: var(--primary-text-color)
}


.box::before {
    margin: 100%;
    content: 'Это текст в ::before';
    font-size: 40px;
    color: orange;
}

.box::after {
    margin: 100%;
    content: 'Это текст в ::after';
    font-size: 30px;
    color: teal;
}


























